@forward "reset";
@forward "variables/global";

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--text-color);

  background: var(--bg-color);
}

.contentPage {
  display: flex;
}

.pageWrapper {
  flex-grow: 1;
  padding: 20px;
}
