@forward "reset";
@forward "variables/global";
@forward "themes/light";
@forward "themes/dark";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--text-color);

  min-height: 100vh;
}

.contentPage {
  display: flex;
}

.pageWrapper {
  flex-grow: 1;
  padding: 20px;
}
