.app.dark {
  --bg-color: #111318;
  --inverted-bg-color: #284777;

  --text-color: #e2e2e9;
  --primary-color: #aac7ff;
  --secondary-color: #bec6dc;
  --inverted-primary-color: #d6e3ff;
  --inverted-secondary-color: #dae2f9;
}
