.app.light {
  --bg-color: #f9f9ff;
  --inverted-bg-color: #d6e3ff;

  --text-color: #191c20;
  --primary-color: #415f91;
  --secondary-color: #565e71;
  --inverted-primary-color: #001b3e;
  --inverted-secondary-color: #131c2b;
}
