.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background: var(--inverted-bg-color);
  border-bottom: 1px solid rgb(0 0 0 / 15%);
  box-shadow: 0 2px 6px rgb(0 0 0 / 12%);
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}
