.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background: var(--surface-color);
  border-bottom: 1px solid var(--divider-color);
  box-shadow: 0 2px 6px rgb(0 0 0 / 12%);
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}

.languageSwitcher {
  margin-left: 5px;
}
