.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background: var(--surface-color);
  border-bottom: 1px solid var(--divider-color);
  box-shadow: 0 2px 6px rgb(0 0 0 / 12%);
}

.switchers {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: auto;
}

.themeSwitcher {
  margin-left: 4px;
}
